In [0]:
# Change directory to VSCode workspace root so that relative path loads work correctly. Turn this addition off with the DataScience.changeDirOnImportExport setting
import os
try:
	os.chdir(os.path.join(os.getcwd(), '..'))
	print(os.getcwd())
except:
	pass

In [1]:
import pandas as pd
authors = pd.DataFrame({'author_id':[1,2,3], 'author_name':['Тургенев', 'Чехов', 'Островский']}, columns = ['author_id', 'author_name'] )
book = pd.DataFrame ({'author_id':[1, 1, 1, 2, 2, 3, 3], 
                                      'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], 
                                      'price': [450, 300, 350, 500, 450, 370, 290]}, columns = ['author_id', 'book_title', 'price'])
# Задание 2
# Получите датафрейм authors_price, соединив датафреймы authors и books 
# по полю author_id.

In [2]:
authors_price = pd.merge(authors, book, on='author_id', how = 'inner')
authors_price
# Задание 3
# Создайте датафрейм top5, в котором содержатся строки из authors_price
# с пятью самыми дорогими книгами.

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [3]:
top5 = authors_price.nlargest(5, 'price')

# Задание 4
# Создайте датафрейм authors_stat на основе информации из authors_price.
# В датафрейме authors_stat должны быть четыре столбца:
# author_name, min_price, max_price и mean_price,
# в которых должны содержаться соответственно имя автора,
# минимальная, максимальная и средняя цена на книги этого автора.

In [4]:
import pandas as pd
author_stat = pd.DataFrame( {'author_name': authors_price.groupby('author_id')['author_name'].unique(),
                                                'min_price': authors_price.groupby('author_id')['price'].min(),
                                                'max_price': authors_price.groupby('author_id')['price'].max(),
                                                'mean_price': authors_price.groupby('author_id')['price'].mean()}    )
author_stat

# * Задание 5
# Создайте новый столбец в датафрейме authors_price под названием cover,
# в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая.
# В этот столбец поместите данные из следующего списка:
# ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
# Просмотрите документацию по функции pd.pivot_table
# с помощью вопросительного знака.

# Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке.
# Используйте для этого функцию pd.pivot_table.
# При этом столбцы должны называться "твердая" и "мягкая",
# а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями,
# при необходимости загрузите библиотеку Numpy.

# Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl".
# Затем загрузите из этого файла датафрейм и назовите его book_info2.
# Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

            author_name  min_price  max_price  mean_price
author_id
1            [Тургенев]        300        450  366.666667
2               [Чехов]        450        500  475.000000
3          [Островский]        290        370  330.000000

In [5]:
authors_price.loc[ :,'cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']

In [5]:
import pandas
pandas.pivot_table?